body {
    font-size: 13px;
    margin: 0;
    padding: 0;
}

#contenedor-trazabilidad {
    position: relative;
    width: 100%;
    height: 50px;
    background-color: beige;
    margin: 10px 0;
}

#trazabilidad-barra-inferior, #trazabilidad-barra {
    position: absolute;
    top: 0;
    height: 8px;
    border-radius: 4px;
}

#trazabilidad-barra-inferior {
    z-index: 1;
    width: 100%;
}

#trazabilidad-barra {
    z-index: 2;
    width: 0%;
}

.trazabilidad-item-circulo {
    position: absolute;
    top: -3px;
    width: 15px;
    height: 15px;
    z-index: 3;
    border-radius: 8px;
}

.trazabilidad-item {
    position: absolute;
    top: 15px;
}

.btn-porcentaje {
    margin: 0 5px;
}